body {
    background-color: #84DCCF;
}

.results {
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 100px;
    padding: 0;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

#facts {
    background-color: aliceblue;
    width: 500px;
    height: 675px;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

#formula {
    background-color: aliceblue;
    width: 500px;
    height: 675px;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

#inputForm {
    width: fit-content;
    height: fit-content;
}

#subtype {
    display: inline-block;
    margin: auto;
    margin-bottom: 10px;
    width: 300px;
    font-size: medium;
    font-weight: bold;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#subtype option {
    transition: 0.5s;
}

#currentContext {
    width: 300px;
    height: fit-content;
    background-color: rgb(255, 237, 237);
    border-radius: 40px;
}

#calculate {
    background-color: #FFFFFF;
    margin-top: 10px;
    font-size: 32px;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}

#calculate:hover {
    background-color: cyan;
}